@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Noto Sans KR';
  src: url('/fonts/NotoSansKR-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  unicode-range: U+AC00-D7AF, U+0020, U+23CE;
}

@font-face {
  font-family: 'DotGothic16';
  font-weight: 400;
  src: url('/fonts/DotGothic16-Regular.ttf') format('truetype');
  font-style: normal;
}

body {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}
