@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/PretendardVariable.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}
