@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard';
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src:
    url('/fonts/PretendardVariable.woff2') format('woff2-variations'),
    url('/fonts/PretendardVariable.ttf') format('truetype');
}

@font-face {
  font-family: 'Sniglet';
  src: url('/fonts/Sniglet-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

body {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
